.Formulario {
    padding: 50px 30px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.Formulario h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 54.47px;
    margin-bottom: 20px;
    text-align: center;
}

.Formulario .cont {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.Formulario input,
.Formulario select,
.Formulario textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px;
    box-sizing: border-box;
}

.Formulario textarea {
    height: 150px;
    resize: vertical;
}

.Formulario label {
    font-weight: 700;
}

.Formulario button {
    background-color: #00A651;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: block;
}

.Formulario button:hover {
    background-color: #005F15;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
  }
  
  .box {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e65c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

@media (max-width: 768px) {
    .Formulario {
        padding: 30px 20px;
    }

    .Formulario input,
    .Formulario select,
    .Formulario textarea {
        width: 100%;
    }

    .Formulario button {
        width: 100%;
    }
}

