.hero {
  font-family: "Open Sans";
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  align-items: center;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(145, 145, 143, 0.2);
  z-index: 1;
}

.hero h1,
.hero p,
.hero a {
  position: relative;
  z-index: 2;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 2;
  height: 40px;
  box-shadow: 0 0 30px 10px white;
}

.hero h1 {
  font-size: 65px;
  color: black;
  line-height: 1.3;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.hero p {
  padding-top: 1%;
  font-size: 25px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.hero a {
  padding: 15px 30px;
  background: #00A651;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.hero a:hover {
  background: #005F15;
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 10%;
    height: 500px;
  }

  .hero h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  .hero p {
    font-size: 16px;
    line-height: 1.4;
  }

  .hero a {
    padding: 12px 24px;
    font-size: 18px;
  }

  .hero::after {
    height: 30px;
    box-shadow: 0 0 20px 5px white;
  }
}

@media (max-width: 768px) {
  .hero {
    width: 100%;
    height: 400px;
    padding-top: 25%;
  }

  .hero h1 {
    font-size: 32px;
    line-height: 1.25;
  }

  .hero p {
    font-size: 14px;
  }

  .hero a {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero::after {
    height: 20px;
    box-shadow: 0 0 15px 3px white;
  }
}