.hero {
  font-family: "Open Sans";
  background-image: url('/hero-travel.jpg');
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1;
    height: 60px;
    box-shadow: 0 0 65px 30px white;
  }
}

.hero h1 {
  font-size: 75px;
  color: #fff;
  line-height: 1.36;
  font-weight: 800;
}

.hero p {
  font-size: 16px;
  color: #fff;
  line-height: 1.31;
  font-weight: 400;
}

.hero a {
  padding: 13px 24px;
  background: #00A651;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;

  &:hover {
    background: #005F15;
  }
}