.navbar {
  font-family: "Open Sans";
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  top: 32px;
}

.navbar ul {
  display: flex;
  gap: 10px;
}

.navbar a {
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  display: block;
  padding: 27px 38px;
}

.navbar a:hover {
  background: #000;
}

