.container {
    font-family: "Open Sans";
    background-color: rgba(0, 88, 83, 0.05);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.35;
    text-align: center;
    max-width: 100%;
}

.text p {
    font-size: 18px;
    text-align: center;
    max-width: 100%;
}

.pack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    & img {
        max-height: 45px;
        align-self: start;
        margin-bottom: 20px;
        align-self: center;
    }
}

.pack div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    width: calc(50% - 20px);
    max-width: 300px;
}

.pack h1 {
    font-size: 24px;
    line-height: 1.5;
}

.pack p {
    font-size: 16px;
    line-height: 1.5;
}

.pack h2 {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 10px;
}


@media (max-width: 1024px) {
    .pack div {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 32px;
        line-height: 1.25;
    }

    .text p {
        font-size: 16px;
    }

    .pack img{
        align-self: center;
        margin-bottom: 10px;
    }

    .pack div {
        width: 1000px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .text h1 {
        font-size: 32px;
        line-height: 1.25;
    }

    .text p {
        font-size: 16px;
    }

    .pack img{
        align-self: center;
        margin-bottom: 10px;
    }

    .pack div {
        width: 1000px;
        text-align: center;
    }
}