.services {
  font-family: "Open Sans";
  padding-top: 28px;
  padding-bottom: 88px;
  max-width: 1400px;

  & h2 {
    font-weight: 700;
    line-height: 1.35;
    font-size: 40px;
    text-align: center;
    margin-bottom: 63px;
  }

  .servicesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .service {
    background: #F9F9F9;
    width: 416px;
    padding: 44px 38px;
    border-radius: 4px;
    height: 232px;
    position: relative;
    transition: all 0.5s ease;

    & img {
      max-height: 45px;
    }

    &:hover {
      background: #fff;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }

  .serviceContent {
    position: absolute;
    bottom: 38px;
    left: 44px;

    & h3 {
      margin-bottom: 19px;
      font-weight: 700;
    }
  }
}