.services {
  font-family: "Open Sans";
  padding-top: 100px;
  padding-bottom: 250px;
  margin: 0 auto;

  & h2 {
    font-weight: 700;
    line-height: 1.35;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
  }

  .servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }

  .service {
    background: #F9F9F9;
    width: calc(30% - 20px);
    padding: 30px;
    border-radius: 20px;
    height: auto;
    position: relative;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & img {
      max-height: 45px;
      align-self: start;
      margin-bottom: 20px;
      align-self: center;
    }

    &:hover {
      background: #fff;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }

  .serviceContent {
    flex: 1;
    padding-left: 20px;
    
    & h3 {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 18px;
    }
  }

  @media (max-width: 1400px) {
    .service {
      width: calc(45% - 20px);
    }
  }

  @media (max-width: 1024px) {
    .service {
      width: calc(48% - 20px);
    }
  }

  @media (max-width: 768px) {
    .service {
      width: calc(100% - 20px);
      margin-bottom: 30px;
    }

    .serviceContent {
      padding-left: 0;
      text-align: center;
    }

    .service img {
      align-self: center;
      margin-bottom: 10px;
    }
  }
}