.sidebar {
    background-color: #e65c00; /* Color naranja */
    width: 250px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar img {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  